body {
    background-color: whitesmoke;
}

h1 {
    font-family: 'Inter';
    font-size: 50px;
    text-align: center;
}

input,
button,
body {
    font-family: monospace;
}

input:valid {
    border-color: rgb(6, 126, 6)
}

input:invalid {
    border-color: rgb(175, 11, 60)
}

legend {
    font-size: 15px;
    font-weight: bold;
}

#confirmar {
    background-color:rgb(6, 126, 6);
    color: white;
}

#retornar {
    background-color:rgb(175, 11, 60);
    color: white;
}